<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="contact.css">
    <link rel="icon" type="image/x-icon" href="../images/circleFavicon.png">
    <title>Advisor|PHM</title>
    <style>
          
        .subtitle{
            text-align:center;
            font-size:50px;
            text-decoration:underline;
            color:black;

        }
        #ico{
                margin:10px 10px 0px 525px;
             }
        #info{
          width:500px;
        }
        #img{
          margin:0px 0px 0px 100px;
        }
            </style>
</head>
<body>
    <div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="../images/PHM1.jpg" class="img-circle" width="50px" height="50px"></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="home.html">Categories</a></li>
            <li><a href="BMIcalculator.html">BMI Calculator</a></li>
            <li><a href="balancedDiet.html">Balanced Diet</a></li>
            <li class="disabled"><a href="contact.html">Contact Advisers</a></li>
            <li><a href="dailyExercises.html">Daily Exercises</a></li>
            <li><a href="location.html">Fitness centers</a></li>
            <li><a href="education.html">Knowledge</a></li>
            <li><a href="aboutUs.html">About Us</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="signIn.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="intro">
        <div class="titleBase">
        <h1 class="title">Advisor's Info</h1>
        </div>
    </div>
    <br><br>
    <h1 class="subtitle">Dr.Enoka Korea</h1>
    <img src="../images/femaleIco.png" id="ico" class="img-circle" height="300px" width="300px">
    <div class="container">
      <div class="col-sm-6">
      <table id="info" class="table table-striped">
        <tbody>
          <tr>
            <td>Name</td>
            <td>Dr.Enoka Korea</td>
          </tr>
          <tr>
            <td>Age</td>
            <td>49</td>
          </tr>
          <tr>
            <td>Contact No.</td>
            <td>077 754 4453</td>
          </tr>
          <tr>
            <td>Available time</td>
            <td>10:00 a.m to 12:00</td>
          </tr>
          <tr>
            <td>Qualifications</td>
            <td>Consultant Microbiologist,Chair & Professor</td>
          </tr>
        </tbody>
      </table>
      </div>
      <div class="col-sm-6">
        <a href="#"><img src="../images/call.png" id="img" class="img-circle" width="200px" height="200px"></a>
      </div>
    <br><br><br>
    <a href="contact.html"><button class="btn btn-success btn-block">Go Back</button></a>
    <br><br>
    </div>
    </body>
    </html>