<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="contact.css">
    <link rel="icon" type="image/x-icon" href="../images/circleFavicon.png">
    <title>Daily Exercises|PHM</title>
    <style>
        .ex1{
            background-image:url("../images/back.jpg");
        }
        .heading{
            text-align:center;
            font-size:50px;
            text-decoration:underline;
        }
        #cola{
            background-image:url("../images/back.jpg");
            color:rgb(0, 0, 0)
        }
        .notes{
            text-align:center;
            color:rgb(0, 0, 0);
            
        }
    </style>
</head>
<body>
    <div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="../images/PHM1.jpg" class="img-circle" width="50px" height="50px"></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="home.html">Categories</a></li>
            <li><a href="BMIcalculator.html">BMI Calculator</a></li>
            <li><a href="balancedDiet.html">Balanced Diet</a></li>
            <li><a href="contact.html">Contact Advisers</a></li>
            <li class="disabled"><a href="dailyExercises.html">Daily Exercises</a></li>
            <li><a href="location.html">Fitness centers</a></li>
            <li><a href="education.html">Knowledge</a></li>
            <li><a href="aboutUs.html">About Us</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="signIn.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="intro">
        <div class="titleBase">
        <h1 class="title">Daily Exercises</h1>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="ex1">
            <h1 class="heading">Squats</h1>
            <div class="col-sm-6">
                <img src="../images/exercises/squats.jpg"  height="350px" width="550px">
                </div>
                <div  class="col-sm-6">
                    <video width="550" height="350" controls>
                        <source src="../videos/squats.mp4" type="video/mp4">
                          </video> 
                          <br><br><br>
                    </div>
            </div>
            <div id="cola">
                <br>
                <h3 class="notes"><strong>Note:</strong> This exercise wil mainly affect to your upper thigh and leg bones.</h3>
                <h2 class="notes">This exercise must done <strong>10 times</strong></h2>
                <ul>
                    <li ><h3>Only the Knee is allowed to bend</h3></li>
                    <li><h3>at the end of one round whole body must be straight</h3></li>
                </ul>
            </div>
            <br><br><br>
            <div class="ex1">
                <h1 class="heading">Lunges
                </h1>
                <div  class="col-sm-6">
                    <img src="../images/exercises/lunges.jpg"  height="350px" width="550px">
                    </div>
                    <div  class="col-sm-6">
                        <video width="550" height="350" controls>
                            <source src="../videos/lunges.mp4" type="video/mp4">
                              </video> 
                              <br><br><br>
                        </div>
                </div>
                <div id="cola">
                    <br>
                    <h3 class="notes"><strong>Note:</strong> This exercise wil mainly affect to your lower body.</h3>
                    <h2 class="notes">This exercise must done <strong>5 times</strong></h2>
                    <ul>
                        <li ><h3>Only the Knee is allowed to bend</h3></li>
                        <li><h3>Keep Your Upper Body straight</h3></li>
                    </ul>
                </div>
        </div>
    </body>
    </html>