<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="home.css">
    <link rel="icon" type="image/x-icon" href="../images/circleFavicon.png">
    <title>Home|PHM</title>
</head>
<body>
    <div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="../images/PHM1.jpg" class="img-circle" width="50px" height="50px"></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li class="disabled"><a href="home.html">Categories</a></li>
            <li><a href="bmiCalculator.html">BMI Calculator</a></li>
            <li><a href="balancedDiet.html">Balanced Diet</a></li>
            <li><a href="contact.html">Contact Advisers</a></li>
            <li><a href="dailyExercises.html">Daily Exercises</a></li>
            <li><a href="location.html">Fitness centers</a></li>
            <li><a href="education.html">Knowledge</a></li>
            <li><a href="aboutUs.html">About Us</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="signIn.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="intro">
        <div class="titleBase">
        <h1 class="title">Categories</h1>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="col-sm-3" >
          <a href="bmiCalculator.html"><img src="../images/icons/bmi.png" height="200px" width="200px"></a>
            <h1>BMI Calculator</h1>
        </div>
        <div class="col-sm-3">
           <!-- just to keep a space between two tabs-->
        </div>
        
        <div class="col-sm-3" >
          <a href="balancedDiet.html"><img src="../images/icons/diet.png" height="200px" width="200px"></a>
            <h1>Balanced Diet</h1>
            </div>
            <div class="ad">
              <a href=""><img src="../images/ad.jpg" height="400px" width="1000px"></a>
            </div>
            <br><br>
            <div class="col-sm-3" >
              <a href="contact.html"> <img src="../images/icons/call.png" height="200px" width="200px"></a>
              <h1>Call Advisers</h1>
          </div>
          <div class="col-sm-3">
            <!-- just to keep a space between two tabs-->
          </div>
          
          <div class="col-sm-3" >
            <a href="dailyExercises.html"><img src="../images/icons/exercise.png" height="200px" width="200px"></a>
              <h1>Daily Exercises</h1>
              </div>
              <div class="ad">
                <iframe width="700" height="315"
                  src="https://www.youtube.com/embed/HloIa9YhDNc?si=CKbNcCncLI2sRzhcautoplay=1&mute=1">
                </iframe>
              </div>
              <br><br>
              <div class="col-sm-3" >
                <a href="location.html"><img src="../images/icons/location.png" height="200px" width="200px"></a>
                <h1>Training Centers</h1>
            </div>
              <div class="col-sm-3">
                <!-- just to keep a space between two tabs-->
              </div>
              
              <div class="col-sm-3" >
                  <a href="education.html"><img src="../images/icons/education.png" height="200px" width="200px"></a>
                  <h1 class="ed">Let's Learn</h1>
                  </div>
        </div>
</body>
</html>